In [1]:
#Exp : 3
#Aim : Basics of Data Frames

In [2]:
#Name : Arya Shashikant Deshmukh
#Roll no. : 7
#Sections : B
#Batch : B1

In [3]:
import pandas as pd

In [4]:
#Creating Student Name list
Name = ["Arya","Swarmai","Kaveri","Purvaja","Asmika"]
Name #display

['Arya', 'Swarmai', 'Kaveri', 'Purvaja', 'Asmika']

In [6]:
#Creating a series
Roll_list=pd.Series(Name,index=[1,2,3,4,5])
print(Roll_list)

1       Arya
2    Swarmai
3     Kaveri
4    Purvaja
5     Asmika
dtype: object

In [8]:
#Creating Data Frame

In [9]:
import pandas as pd

In [10]:
df=pd.DataFrame([[10,12,14,16],[11,18,15,13],[13,15,16,10]],columns=["CD","DBMS","DSS","CAO"])

In [11]:
df

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   13
2  13    15   16   10

In [12]:
df.shape

(3, 4)

In [13]:
df.size

12

In [14]:
df.ndim

2

In [15]:
#Adding Record (Row) to the Data Frame

In [19]:
df2=pd.DataFrame([[10,16,20,18]],columns=["CD","DBMS","DSS","CAO"])

In [23]:
df3 = pd.concat([df, df2], ignore_index=True)

In [24]:
df3

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   13
2  13    15   16   10
3  10    16   20   18

In [25]:
df3.size

16

In [28]:
df3.shape

(4, 4)

In [29]:
df3.ndim

2

In [30]:
df3["DM"] = [12,24,20,18]

In [31]:
df3

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
1  11    18   15   13  24
2  13    15   16   10  20
3  10    16   20   18  18

In [32]:
#Delete a record = 1
df4=df3.drop(index=[1])

In [33]:
df4

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
2  13    15   16   10  20
3  10    16   20   18  18

In [34]:
#Deleting Attribute (Columns) from df3 dataframe

In [35]:
df5 = df3.drop(columns=["DM"])

In [36]:
df5

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   13
2  13    15   16   10
3  10    16   20   18

In [37]:
#Finding a Mean of DSS
print("Mean of DSS :",df5["DSS"].mean())

Mean of DSS : 16.25

In [40]:
#Finding a Median of DSS
print("Median of DSS :",df5["DSS"].median())

Median of DSS : 15.5

In [43]:
#Finding a Mode of DSS
print("Mode of DSS :",df5["DSS"].mode())

Mode of DSS : 0    14
1    15
2    16
3    20
Name: DSS, dtype: int64